//shadow coloring
$color-screen:#18d82e;

//typography

$color-terminal:#0f0;

//font sizes 
$size-medium:1.4rem;
$size-large : 1.8rem; 
$size-title :2.4rem;
$border-radius :8px;

//font family

$family-terminal: 'Courier New', Courier, monospace;